*{
    margin: 0% ;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header{
    justify-content: right;
}

.fa-circle{
    position: relative;
    padding: 5px;
    background-color: grey;
    border-radius: 3px;
    color: white;
    margin: 10px;
}


.flex{
    display: flex;
}



.container{
    height: calc(100% - 100px);
    flex-flow: row wrap;
    overflow: auto;
    justify-content: center;
}

.colum{
 flex-flow: column wrap;
  width: 150px;  
  height: 100%;
} 


.item{
    position: relative;
    margin: 5px;
    width: 250px;
    height: 150px;
    background-color: red;   
    background-image: url("https://i.pinimg.com/originals/9f/66/0f/9f660f6d0d09d80f6cc039d275567deb.png");
    background-size: contain;
}




.item.last-border{
    border: 2px solid yellow;
}


footer{
    position: relative;
    height: 50px;
    background-color: grey;
}


.footer-btn-conatainer-center{
    display: flex;
    justify-content: center;
    
}

.footer-btn{
    width: 50px;
    font-size: 15px;
    color: white;
}
.footer-btn i{
    position: absolute;
    font-size: 20px;
}

.footer-btn-left{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.footer-btn-right{
    position: relative;
    color: white;
}
.footer-btn-right i{
    position: absolute;
    font-size: 20px;
}

.footer-btn.center i{
    color: green;
}



